TestResult.xml
net-sdk.userprefs
.DS_Store
SDK/.DS_Store
*.obj
*.exe
*.cache
*.pdb
*.user
*.lib
*.suo
SDK*/obj/*
[Bb]in
[Dd]ebug*/
/.vs/net-sdk/v15/Server/sqlite3/db.lock
/.vs/net-sdk/v15/Server/sqlite3/storage.ide
/.vs/net-sdk/v15/Server/sqlite3/storage.ide-shm
/.vs/net-sdk/v15/Server/sqlite3/storage.ide-wal
/net-sdk.sln.DotSettings
